<style>
.dropbtn {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

</style>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Pedro Humberto">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,
	initial-scale=1, shrink-to-fit=no">
	<title>Controle de Estoque - Biblioteca</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

</head>
<body>
	<div id="app">
		<div class="container-fluid">
			<div class="row bg-dark">
				<div class="col-lg-12">
					<p class="text-center text-light display-4 pt-2"style = "font-size: 25px;">Controle de Estoque - Biblioteca</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-12">
				<p class="text-center pt-2" style="font-size: 20px">Seja bem vindo!</p>
			</div>
		</div>
		<div class="container">
			<div class="row mt-3">
				<div class="dropdown col-lg-6">
					<button class="dropbtn">Listar</button>
					<div class="dropdown-content">
						<a href="#livros" @click=tableLivro=true,tableAutor=false,tableEditora=false,tableGenero=false,buttonAutor=true,buttonLivro=false,buttonEditora=false,buttonGenero=false>Livros</a>
						<a href="#autores" @click=tableLivro=false,tableAutor=true,tableEditora=false,tableGenero=false,buttonAutor=false,buttonLivro=true,buttonEditora=false,buttonGenero=false onclick="getAllAutor()">Autores</a>
						<a href="#editoras" @click=tableLivro=false,tableAutor=false,tableEditora=true,tableGenero=false,buttonAutor=false,buttonLivro=false,buttonEditora=true,buttonGenero=false>Editoras</a>
						<a href="#generos" @click=tableLivro=false,tableAutor=false,tableEditora=false,tableGenero=true,buttonAutor=false,buttonLivro=false,buttonEditora=false,buttonGenero=true>Gêneros Literários</a>
					</div>
				</div>
				<div class="col-lg-6" v-if="buttonAutor">
					<button type="button" class="btn btn-info float-right" @click=showAddModalLivro=true>
						<i></i>&nbsp;&nbsp;Registrar Livro
					</button>
				</div>
				<div class="col-lg-6" v-if="buttonLivro">
					<button class="btn btn-info float-right" @click=showAddModalAutor=true>
						<i></i>&nbsp;&nbsp;Registrar Autor
					</button>
				</div>
				<div class="col-lg-6" v-if="buttonEditora">
					<button class="btn btn-info float-right" @click=showAddModalEditora=true>
						<i></i>&nbsp;&nbsp;Registrar Editora
					</button>
				</div>
				<div class="col-lg-6" v-if="buttonGenero">
					<button class="btn btn-info float-right" @click=showAddModalGenero=true>
						<i></i>&nbsp;&nbsp;Registrar Genero
					</button>
				</div>
			</div>
			<hr class="bg-info">
			<div class="alert alert-danger" v-if="errorMsg">
				{{ errorMsg }}
			</div>
			<div class="alert alert-success" v-if="successMsg">
				{{ successMsg }}
			</div>
			<div class="row">
				<div class="col-lg-12" v-if="tableLivro">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<th>Titulo</th>
								<th>Ano de Lançamento</th>
								<th>Autor</th>
								<th>Editora</th>
								<th>Gênero Literário</th>
								<th>Editar</th>
								<th>Remover</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="livro in livro">
								<td>{{livro.titulo}}</td>
								<td>{{livro.anoLancamento}}</td>
								<td>{{livro.autorNome}}</td>
								<td>{{livro.editoraNome}}</td>
								<td>{{livro.generoLiterarioNome}}</td>
								<td><a href="#" class="text-success"><i class="bi bi-tools" @click="showEditModalLivro=true; selectLivro(livro);" ></i></a></td>
								<td><a href="#" class="text-success"><i class="bi bi-trash-fill" style="color:red" @click="showRemoveModalLivro=true; selectLivro(livro);"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-lg-12" v-if="tableAutor">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<td>ID</td>
								<td>Nome</td>
								<td>Ano de Nascimento</td>
								<td>Sexo</td>
								<td>Nacionalidade</td>
								<td>Editar</td>
								<td>Remover</td>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="autor in autor">
								<td>{{autor.idautor}}</td>
								<td>{{autor.nome}}</td>
								<td>{{autor.anoNasc}}</td>
								<td>{{autor.sexo}}</td>
								<td>{{autor.nacionalidade}}</td>
								<td><a href="#" class="text-success"><i class="bi bi-tools" @click="showEditModalAutor=true; selectAutor(autor);"></i></a></td>
								<td><a href="#" class="text-success"><i class="bi bi-trash-fill" style="color:red" @click="showRemoveModalAutor=true; selectAutor(autor);"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-lg-12" v-if="tableEditora">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<td>Nome</td>
								<td>CNPJ</td>
								<td>Editar</td>
								<td>Remover</td>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="editora in editora">
								<td>{{editora.nome}}</td>
								<td>{{editora.cnpj}}</td>
								<td><a href="#" class="text-success"><i class="bi bi-tools" @click="showEditModalEditora=true; selectEditora(editora);"></i></a></td>
								<td><a href="#" class="text-success"><i class="bi bi-trash-fill" style="color:red" @click="showRemoveModalEditora=true; selectEditora(editora);"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-lg-12" v-if="tableGenero">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<td>Tipo de Gênero</td>
								<td>Editar</td>
								<td>Remover</td>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="genero in genero">
								<td>{{genero.tipo}}</td>
								<td><a href="#" class="text-success"><i class="bi bi-tools" @click="showEditModalGenero=true; selectGenero(genero);"></i></a></td>
								<td><a href="#" class="text-success"><i class="bi bi-trash-fill" style="color:red" @click="showRemoveModalGenero=true; selectGenero(genero);"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Form para adicionar novo Autor -->
		<div id="overlay" v-if="showAddModalAutor">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Adicionar novo Autor </h5>
						<button type="button" class="close" @click="showAddModalAutor=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="nome" name="Nome" class="form-control form-control-lg" placeholder="Nome" v-model="newAutor.nome" required>
							</div>
							<div class="form-group">
								<input type="anoNasc" name="Nascimento" class="form-control form-control-lg" placeholder="Nascimento" v-model="newAutor.anoNasc" required>
							</div>
							<div class="form-group">
								<input type="sexo" name="Sexo" class="form-control form-control-lg" placeholder="Sexo" v-model="newAutor.sexo" required>
							</div>
							<div class="form-group">
								<input type="nacionalidade" name="Nacionalidade" class="form-control form-control-lg" placeholder="Nacionalidade" v-model="newAutor.nacionalidade" required>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="addAutor(); clearMsg();">Registrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para editar Autor -->
		<div id="overlay" v-if="showEditModalAutor">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Editar Autor </h5>
						<button type="button" class="close" @click="showEditModalAutor=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="nome" name="Nome" class="form-control form-control-lg" v-model="atualAutor.nome" required>
							</div>
							<div class="form-group">
								<input type="anoNasc" name="Nascimento" class="form-control form-control-lg" v-model="atualAutor.anoNasc" required>
							</div>
							<div class="form-group">
								<input type="sexo" name="Sexo" class="form-control form-control-lg" v-model="atualAutor.sexo" required>
							</div>
							<div class="form-group">
								<input type="nacionalidade" name="Nacionalidade" class="form-control form-control-lg" v-model="atualAutor.nacionalidade" required>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="updateAutor(); clearMsg();">Editar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para remover Autor -->
		<div id="overlay" v-if="showRemoveModalAutor">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Remover Autor </h5>
						<button type="button" class="close" @click="showRemoveModalAutor=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4 class="text-danger">Tem certeza que deseja remover essa coluna?</h4>
						<hr>
						<button class="btn btn-danger btn-lg" @click="showRemoveModalAutor=false; removeAutor(); clearMsg();">Remover</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showRemoveModalAutor=false">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para adicionar novo Livro -->
		<div id="overlay" v-if="showAddModalLivro">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Adicionar novo Livro </h5>
						<button type="button" class="close" @click="showAddModalLivro=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="título" name="Título" class="form-control form-control-lg" placeholder="Título" v-model="newLivro.titulo" required>
							</div>
							<div class="form-group">
								<input type="anoLancamento" name="Lançamento" class="form-control form-control-lg" placeholder="Lançamento" v-model="newLivro.anoLancamento" required>
							</div>
							<div class="form-group">
								<label>Selecione um Autor</label>
								<select class="form-control input-lg" v-model="newLivro.autor_idautor" required>
									<option value="" selected disabled></option>
									<option v-for="data in autorList" :value="data.idautor">{{ data.nome }}</option>  
								</select>
							</div>
							<div class="form-group">
								<label>Selecione uma Editora</label>
								<select class="form-control input-lg" v-model="newLivro.editora_ideditora" required>
									<option value="" selected disabled></option>
									<option v-for="data in editoraList" :value="data.ideditora">{{ data.nome }}</option>  
								</select>
							</div>
							<div class="form-group">
								<label>Selecione um Gênero Literário</label>
								<select class="form-control input-lg" v-model="newLivro.generoLiterario_idgeneroLiterario" required>
									<option value="" selected disabled></option>
									<option v-for="data in generoList" :value="data.idgeneroLiterario">{{ data.tipo }}</option>  
								</select>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="addLivro(); clearMsg();" >Registrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para editar Livro -->
		<div id="overlay" v-if="showEditModalLivro">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Editar Livro </h5>
						<button type="button" class="close" @click="showEditModalLivro=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="título" name="Título" class="form-control form-control-lg" placeholder="Título" v-model="atualLivro.titulo" required>
							</div>
							<div class="form-group">
								<input type="anoLancamento" name="Lançamento" class="form-control form-control-lg" placeholder="Lançamento" v-model="atualLivro.anoLancamento" required >
							</div>
							
							<div class="form-group">
								<label>Selecione um Autor</label>
								<select class="form-control input-lg" v-model="atualLivro.autor_idautor" required>
									<option value="" ></option>
									<option v-for="data in autorList" :value="data.idautor" :selected= "data.idautor == atualLivro.autor_idautor">{{ data.nome }}</option>  
								</select>
							</div>
							<div class="form-group">
								<label>Selecione uma Editora</label>
								<select class="form-control input-lg" v-model="atualLivro.editora_ideditora" required>
									<option value=""></option>
									<option v-for="data in editoraList" :value="data.ideditora" :selected= "data.idautor == atualLivro.editora_ideditora">{{ data.nome }}</option>  
								</select>
							</div>
							<div class="form-group">
								<label>Selecione um Gênero Literário</label>
								<select class="form-control input-lg" v-model="atualLivro.generoLiterario_idgeneroLiterario" required>
									<option value=""></option>
									<option v-for="data in generoList" :value="data.idgeneroLiterario" :selected= "data.idautor == atualLivro.generoLiterario_idgeneroLiterario">{{ data.tipo }}</option>  
								</select>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="editLivro(); clearMsg();">Editar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para remover Livro -->
		<div id="overlay" v-if="showRemoveModalLivro">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Remover Livro </h5>
						<button type="button" class="close" @click="showRemoveModalLivro=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4 class="text-danger">Tem certeza que deseja remover essa coluna?</h4>
						<hr>
						<button class="btn btn-danger btn-lg" @click="showRemoveModalLivro=false; removeLivro(); clearMsg();">Remover</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showRemoveModalLivro=false">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para adicionar nova Editora -->
		<div id="overlay" v-if="showAddModalEditora">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Adicionar nova Editora </h5>
						<button type="button" class="close" @click="showAddModalEditora=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="nome" name="Nome" class="form-control form-control-lg" placeholder="Nome" v-model="newEditora.nome" required>
							</div>
							<div class="form-group">
								<input type="cnpj" name="CNPJ" class="form-control form-control-lg" placeholder="CNPJ" v-model="newEditora.cnpj" required>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="addEditora(); clearMsg();">Registrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para editar Editora -->
		<div id="overlay" v-if="showEditModalEditora">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Editar Editora </h5>
						<button type="button" class="close" @click="showEditModalEditora=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="nome" name="Nome" class="form-control form-control-lg" placeholder="Nome" v-model="atualEditora.nome" required>
							</div>
							<div class="form-group">
								<input type="cnpj" name="CNPJ" class="form-control form-control-lg" placeholder="CNPJ" v-model="atualEditora.cnpj" required>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="editEditora(); clearMsg();">Editar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para remover Editora -->
		<div id="overlay" v-if="showRemoveModalEditora">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Remover Editora </h5>
						<button type="button" class="close" @click="showRemoveModalEditora=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4 class="text-danger">Tem certeza que deseja remover essa coluna?</h4>
						<hr>
						<button class="btn btn-danger btn-lg" @click="showRemoveModalEditora=false; removeEditora(); clearMsg();">Remover</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showRemoveModalEditora=false">Voltar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para adicionar novo Genero -->
		<div id="overlay" v-if="showAddModalGenero">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Adicionar novo Gênero Literário </h5>
						<button type="button" class="close" @click="showAddModalGenero=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="tipo" name="Gênero" class="form-control form-control-lg" placeholder="Gênero" v-model="newGenero.tipo" required>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="addGenero(); clearMsg();">Registrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para editar Genero -->
		<div id="overlay" v-if="showEditModalGenero">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Editar Gênero Literário </h5>
						<button type="button" class="close" @click="showEditModalGenero=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="tipo" name="Gênero" class="form-control form-control-lg" placeholder="Gênero" v-model="atualGenero.tipo" required>
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="editGenero(); clearMsg();">Editar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Form para remover Genero -->
		<div id="overlay" v-if="showRemoveModalGenero">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class ="modal-title">Remover Gênero Literário </h5>
						<button type="button" class="close" @click="showRemoveModalGenero=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4 class="text-danger">Tem certeza que deseja remover essa coluna?</h4>
						<hr>
						<button class="btn btn-danger btn-lg" @click="showRemoveModalGenero=false; removeGenero(); clearMsg();">Remover</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showRemoveModalGenero=false">Voltar</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
 	<script type="text/javascript" src="main.js"></script>
</body>
</html>